.navbar-custom {
    background-color: #fff; /* Light background color */
    box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Adds shadow for depth */
}
.navbar-custom .navbar-brand {
    font-weight: 700; /* Makes the logo text bolder */
    color: #a52a2a; /* Brand color for the logo text */
    font-size: 24px; /* Adjust the size of your logo text */
}
.navbar-custom .nav-link {
    color: #555; /* Color of the navigation links */
    margin-right: 15px; /* Spacing between navigation links */
    font-weight: 500; /* Adjust weight as needed */
    font-size: 18px; /* Increased font size for navigation links */
}
.navbar-custom .nav-link:hover {
    color: #a52a2a; /* Hover color matching the logo */
}
.navbar-custom .nav-link:hover {
    color: #a52a2a; /* Highlight color on hover */
}

/* Adjust navbar padding and logo alignment */
.navbar-custom .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .navbar-custom .navbar-brand {
        font-size: 1.2em; /* Smaller font size for mobile */
    }
}

/* Carousel styling */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
}

.custom-img-height {
    height: 350px;
    /* Add this line is used to maintain the aspect ratio of the image */
    object-fit: cover;
  }




  