@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif, montserrat;
}

.section-header {
    margin-bottom: 40px;
}

.section-header h2 {
    color: #08194a;
    font-size: 40px;
    font-weight: 700;
}

.section-header h2 span {
    color: #e53f29;
}

.navbar-nav a {
    font-size: 16 px;
    font-weight: 700;
}

.navbar-light .navbar-brand {
    color: #e53f29;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand span {
    color: #08194a;
}

.section-padding {
    padding: 80px 0;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

.carousel {
    background-image: url(images/home.jpeg);
    background-size: cover;
    background-position: center;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
    left: 8%;
}

.carousel-caption h5 {
    font-size: 30px;
    margin-top: 25px;
    font-weight: 700;
    text-align: left;
    color: #e53f29;
}

.carousel-caption span {
    color: #fff;
}

.carousel-caption p {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    padding: 5px 20px;
    display: inline-block;
    color: #08194a;
    margin-top: 15px;
    border-radius: 5px;
}

/* about section */

.img-area img {
    width: 100% !important;
}

.about-text h2 {
    font-size: 30px;
    font-weight: 700;
    color: #08194a;
}

.about-text h2 span {
    color: #e53f29;
}

.about-text .btn {
    background: #08194a;
    color: #fff;
}

/* services section */

.single-services {
    background: #08194a;
    color: #fff;
    padding: 30px 15px;
    border-radius: 15px;
}

.single-services i {
    font-size: 45px;
    margin-bottom: 30px;
}

.single-services h2 {
    font-family: bebas neue;
}

.single-services .btn {
    background: #fff;
    color: #08194a;
}

/* Why us section */

.choose-img img {
    width: 100%;
}

.single-box {
    padding: 20px;
}

.single-box i {
    font-size: 30px;
    margin-bottom: 25px;
    color: #e53f29;
}

.single-box h2 {
    font-family: bebas neue;
    color: #08194a;
}

/* staff section */

.imgBox {
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 25px;
}

.imgBox img {
    width: 100%;
}

.single-staff {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    padding: 30px 15px;
}

.single-staff h2 {
    color: #08194a;
    font-family: bebas neue;
}

.single-staff h5 {
    color: #08194a;
    font-weight: 600;
    font-size: 18px;
}

.single-staff h5 span {
    font-size: 18px;
    color: #e53f29;
    text-transform: uppercase;
}



/* Calendar */

.calendar-wrapper {
    display: none;
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.calendar-wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .current-date {
    font-size: 1.45 rem;
    font-weight: 500;

}

header .icons span {
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
    
}

header .icons span:hover {
    background: #f2f2f2;
}

header .icons span:last-child {
    margin: -10px;
}

.calendar {
    padding: 20px;
}

.calendar .days {
    margin-bottom: 20px;
}


.calendar .weeks li {
    font-weight: 500;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.days li.inactive {
    color: #aaa;
} 

.days li.active:hover {
    color: #fff;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.days li:hover:before {
    background: #f2f2f2;
}

.days li.active:hover::before {
    background: #08194a;
}

/*Payment popup*/
.payment-body {
    display: none;
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.container{
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container form .inputBox{
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container form .flexbox{
    display: flex;
    gap:15px;
}

.container form .flexbox .inputBox{
    flex:1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container .card-container{
    margin-bottom: -170px;
    position: relative;
    height: 250px;
    width: 420px;
}

.container .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.3);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img{
    height: 50px;
}

.container .card-container .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.container .card-container .front .flexbox{
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.container .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box{
    padding: 0 20px;
}

.container .card-container .back .box span{
    color:#fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}

/* contact section */

.hours-list {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding: 40px 30px;
}

.map-area {
    width: 600px;
    height: 365.5px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.map-area iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.contact-area {
    margin: 100px 20px;
}